<div id="topbar" class="d-flex align-items-center fixed-top">
         <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center"> <i class="bi bi-phone d-flex align-items-center"><span>+91 8789631900</span></i> <i class="bi bi-clock d-flex align-items-center ms-4"><span> All Days: 11:00AM - 10:30PM</span></i></div>
         </div>
      </div>
      <header id="header" class="fixed-top d-flex align-items-cente">
         <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
            <h1 class="logo me-auto me-lg-0"> <img src="../assets/img/logo.jpg" ></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
               <ul>
                  <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                  <li><a class="nav-link scrollto" href="#about">About</a></li>
                  <!-- <li><a class="nav-link scrollto" href="#menu">Menu</a></li> -->
               </ul>
               <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <a href="" class="book-a-table-btn scrollto d-none d-lg-flex">Order Online</a>
         </div>
      </header>
      <section id="hero" class="d-flex align-items-center">
         <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
               <div class="col-lg-8">
                  <h1>Welcome to <span>SwayamPrabha Tea</span></h1>
                  <h2>Best Tea </h2>
                  <!-- <div class="btns">
                  <a href="" class="btn-book animated fadeInUp scrollto">Order Online</a></div> -->
               </div>
               <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" 
               data-aos="zoom-in" data-aos-delay="200"> <a href="https://www.youtube.com/watch?v=YaHdgrTqi_A" class="glightbox play-btn"></a></div> -->
            </div>
         </div>
      </section>
      <main id="main">
         <section id="about" class="about">
            <div class="container" data-aos="fade-up">
               <div class="row">
                  <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                     <div class="about-img"> <img src="../assets/img/about.jpg" alt=""></div>
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                     <h3></h3>
                     <p class="fst-italic">Everything began with an idea to make the taste of actual tasty tea to across India  </p>
                     <ul>
                        <li><i class="bi bi-check-circle"></i> SwayamPrabha Tea</li>
                        <li><i class="bi bi-check-circle"></i><strong>Our First Shop (address) </strong>:Paras Nath Complex, Flat no 203,kothwa road, Danapur,Patna -801105 </li>
                        <li><i class="bi bi-check-circle"></i><strong>Phone:</strong> +91 8789631900<li>
                     </ul>
                     <!-- <p>People are loving us so much that we have now 3 branches of Mr. Papdi in Velachery, Chennai , T Nagar Chennai and Hyderbad Nizampet</p> -->
                  </div>
               </div>
            </div>
         </section>
         <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
               <div class="section-title">
                  <h2>Why Us</h2>
                  <p>Why Choose Our Restaurant</p>
               </div>
               <div class="row">
                  <div class="col-lg-4">
                     <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <span>01</span>
                        <h4>Best Tea India</h4>
                        <p>Best India Tea you can found</p>
                     </div>
                  </div>
                  <div class="col-lg-4 mt-4 mt-lg-0">
                     <div class="box" data-aos="zoom-in" data-aos-delay="200">
                        <span>02</span>
                        <h4>Customer</h4>
                        <p>we make customer satisfied on what they are spending</p>
                     </div>
                  </div>
                  <div class="col-lg-4 mt-4 mt-lg-0">
                     <div class="box" data-aos="zoom-in" data-aos-delay="300">
                        <span>03</span>
                        <p>We craft rich, aromatic chai using the finest tea leaves, ensuring every sip is a perfect blend of taste and tradition.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>

           <!-- <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">
               <div class="section-title">
                  <h2>Testimonials</h2>
                  <p>What they're saying about us</p>
               </div>
               <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="testimonial-item">
                           <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i> The food is very good and tasty. 
                              You can feel the freshness in the food served. Good ambience and their packing was very good for takeaways.
                               This is the cheapest and taste worthy for especially chats and sweets
                               <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                           <img src="../assets/img/specials-4.png" class="testimonial-img" alt="">
                           <h3>Sathish</h3>
                          
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="testimonial-item">
                           <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              it's really good place to hangout and very tasty evening chats and delicious  variety of option available must try cripsy cron,vadapav, phav bhaji, panni puri in the opening like street wise and etc.. and surrounding and best option of mall view seat thru will also give good memwith loved  one either with friends must recommend place price little expensive but worth of trying
                               <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                           <img src="../assets/img/specials-5.png" class="testimonial-img" alt="">
                           <h3>Unlock Destiny</h3>
                           <h4>Local Guide</h4>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="testimonial-item">
                           <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i> I have ordered food from this Restaurant since 2017..  Previously, they only had 5 to 6 food items, but now they have variety of food items..  I used to order Pulkha set.. Comes with 2 Pulkhas, 2 Sabjis, salads.. 
                               Quality is less, Pulkhas very slim and taste is also moderate..
                              But I give 5 star because in Chennai this is the only restaurant which prepares Chowmein in its almost actual taste..  Quantity is less but taste is good..   Every other restaurant prepares normal noodles in name of Chowmein. <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                           <img src="../assets/img/specials-1.png" class="testimonial-img" alt="">
                           <h3>Raj Indira</h3>
                           <h4>Local Guide</h4>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="testimonial-item">
                           <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              The Best Restro in Velachery. I travel a lot and eat food outside due to my profession. 
                              When I come home i prefer eating home food. Inspite of that I cant resist to go to Mr Papdi for the taste and quality they provide.
                               Litti Chokha is my fav and no one else serves it better than Mr Papdi in Chennai. Must go place if you want to try some good food and a very reasonable price.
                               Excellent service, excellent taste and well behaved staff.
                               <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                           <img src="../assets/img/specials-3.png" class="testimonial-img" alt="">
                           <h3>Mohit Wadhwa</h3>
                           <h4>Local Guide</h4>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="testimonial-item">
                           <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i>Excellent chaat and authentic North indian food. The Vada Pav here is just awesome and by far the best I've had in Chennai. We tried aloo methi paratha firstly and it was a bit down on spice and salt, we communicated it to the service team and they were very responsive and customised the next paratha to our liking. Overall good food and service, highly recommended. <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                           <img src="../assets/img/specials-2.png" class="testimonial-img" alt="">
                           <h3>Vishwanth Santhanam</h3>
                           <h4>Local Guide</h4>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-pagination"></div>
               </div>
            </div>
         </section> -->
         
         <!-- <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">
               <div class="section-title">
                  <h2>Gallery</h2>
                  <p>Some photos from Our Restaurant</p>
               </div>
            </div>
            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
               <div class="row g-0">
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="../assets/img/gallery/Screenshot (124).png" class="gallery-lightbox" data-gall="gallery-item"> <img src="../assets/img/gallery/Screenshot (124).png" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="../assets/img/gallery/Screenshot (125).png" class="gallery-lightbox" data-gall="gallery-item"> 
                        <img src="../assets/img/gallery/Screenshot (125).png" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="../assets/img/gallery/Screenshot (126).png" class="gallery-lightbox" data-gall="gallery-item">
                         <img src="../assets/img/gallery/Screenshot (126).png" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="../assets/img/gallery/Screenshot (127).png" class="gallery-lightbox" data-gall="gallery-item">
                         <img src="../assets/img/gallery/Screenshot (127).png" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="../assets/img/gallery/Screenshot (128).png" class="gallery-lightbox" data-gall="gallery-item">
                         <img src="../assets/img/gallery/Screenshot (128).png" alt="" class="img-fluid"> </a></div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="gallery-item"> <a href="../assets/img/gallery/Screenshot (129).png" class="gallery-lightbox" data-gall="gallery-item"> 
                        <img src="../assets/img/gallery/Screenshot (129).png" alt="" class="img-fluid"> </a></div>
                  </div>
               </div>
            </div>
         </section> -->
       
      </main>
      <footer id="footer">
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="footer-info">
                        <h3>Mr.Papdi</h3>
                        <p>Paras Nath Complex, Flat no 203,kothwa road, <br>  Danapur,Patna -801105<br><br> <strong>Phone:</strong> +91 8789631900<br></p>
                        <div class="social-links mt-3"><a href="" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="" class="instagram"><i class="bx bxl-instagram"></i></a> 
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 footer-links">
                     <h4>Useful Links</h4>
                     <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-4 col-md-6 footer-newsletter">
                     <h4>Our Newsletter</h4>
                     <!-- <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p> -->
                     <form action="" method="post"> <input type="email" name="email"><input type="submit" value="Subscribe"></form>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="copyright"> &copy; Copyright <strong><span>SwayamPrabha Tea</span></strong>. All Rights Reserved</div>
         </div>
      </footer>
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  

